global:
  resolve_timeout: 1m
  #slack_api_url: 
  http_config:
    tls_config:
      insecure_skip_verify: true

route:
  receiver: 'slack-notifications'

templates:
- '/etc/alertmanager/templates/alertmanager-template.tmpl'

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: '#build'
    send_resolved: true
    text: '{{ template "slack.postgres.text" }}'
    fields:
    -  title: '{{ template "slack.postgres.text" }}'
       value: '{{ template "slack.postgres.text" }}'