global:
  # scrape_interval: "30s"
  # scrape_timeout: "10s"
  # evaluation_interval: "35s"

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
        - prometheus_afrikpay:9090
        labels:
          env: production
    relabel_configs:
      - source_labels:
        - 'env'
        regex: (production)
        replacement: 'isidore'
        action: replace
        target_label: 'env'

  - job_name: 'prometheus-test'
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{instance="34.86.5.170:9090",  job="prometheus-test"}'
    static_configs:
      - targets:
        - '34.86.5.170:9090'

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - alertmanager_afrikpay:9093 

rule_files:
  - "/etc/prometheus/rules/prometheus_rules.yml"
  